<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Bot</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="gradient">
      <div class="glass">
        <header>
          <h1>Discord Bot Invite</h1>
          <p>Invite the Bot to Your Server.</p>
        </header>
        <main>
          <a
            href="https://discord.com/oauth2/authorize?client_id=1228003769359401103&permissions=8&scope=bot"
            class="invite-button"
          >
            Invite To Server
          </a>
        </main>
      </div>

      <footer>
        <p class="credits">Created by: Sean Hyde, Adam Brucker</p>
        <p>GPT-3.5 EQ DISCORD BOT</p>
      </footer>
    </div>
  </body>
</html>
